<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/aboutStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/colorsAndFonts.css">
</head>
<body>
    <header id="title">
        <h1>Ada Lovelace</h1>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about" id="current">About</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </nav>
    <article id="content">
        <p>Ada Lovelace was an English mathematician and writer, chiefly known for her work on Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine. She was the first to recognise that the machine had applications beyond pure calculation, and to have published the first algorithm intended to be carried out by such a machine. As a result, she is often regarded as the first computer programmer.<br>Source: wikipedia, its like the first line</p>
    </article>
</body>
</html>