<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/homeStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/colorsAndFonts.css">
</head>
<body>
    <header id="title">
        <h1>Ada Lovelace</h1>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="/home" id="current">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </nav>
    <article id="content">

    </article>
</body>
</html>