<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/worksStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/colorsAndFonts.css">
</head>
<body>
    <header id="title">
        <h1>Ada Lovelace</h1>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works" id="current">Works</a></li>
        </ul>
    </nav>
    <article id="content">
        <p>Ada Lovelace is pretty cool, she is considered the first computer programmer for her work on Charles Babbage's proposed mechanical computer, the Analytical Engine. <br>More info on <a href="https://en.wikipedia.org/wiki/Ada_Lovelace#First_computer_program">Wikipedia</a>.</p>
    </article>
</body>
</html>